:root {
    --text-color-priority: #2C2C2C;
    --background-site-color: #FEFEFE;
    --tablet-nav-color: #000000;
    --secondary-site-color: #FFE550;
    --background-btn-site-hover: #BBF330;
    --hover-button-color: #B5FF00;
    --icon-active-border-color: #7EB101;
    --background-icon-btn-color: #FFFFFF;
    --buttom-border-hover-color:#597D00;
    --alert-input-color:#FF705D;
    --warning-modal-color:#FE6060;
    --warning-msg-text: #FAEDEB;
    --modal-backdrop: rgba(94, 99, 99, 0.7);
    --bgd-hero: #F5F5F5;


}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--text-color-priority);
    background-color: var(--background-site-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}