<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu menu-toggle--position">
      <svg width="24" height="24">
        <use href="#"></use>
      </svg>
    </button>
    <div class="mobile-menu">
      <ul class="mobile-menu__nav list">
        <li class="mobile-menu__nav-item">
          <a
            href="./index.html"
            class="mobile-menu__nav-link mobile-menu__nav-link--current link"
            >Home</a
          >
        </li>
        <li class="mobile-menu__nav-item">
          <a href="#" class="mobile-menu__nav-link link"
            >About</a
          >
        </li>
        <li class="mobile-menu__nav-item">
          <a href="#" class="mobile-menu__nav-link link">Favorites</a>
        </li>
        <li class="mobile-menu__nav-item">
            <a href="#" class="mobile-menu__nav-link link">Reviews</a>
        </li>
        <li class="mobile-menu__nav-item">
            <a href="#" class="mobile-menu__nav-link link">Subscribe</a>
        </li>
      </ul>
    </div>
  </div>