<!-- header button -->
<button type="button" class="header__button">Order Now</button>

<!-- hero button -->
<button type="button" class="hero__button">Order Now</button>

<!-- offerings button -->
<button type="button" class="offerings__button">Order Now</button>

<!-- subscribe button -->
<button type="button" class="subscribe__button">Subscribe</button>

<!-- footer button -->
<button type="button" class="footer__button">Subscribe</button>

<!-- modal button -->
<button type="button" class="modal__button">Send</button>