<section class="customers" id="reviews">
  <div class="container customers__container">
    <h2 class="customers-title">What our Customers Say</h2>
    <p class="customers-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-list">
      <li class="customers-list__item">
        <svg width="17" height="16" class="customers__icon">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>

        <p class="customers-list__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers-photo">
          <img
            src="/src/images/customers-say/man-photo.png"
            alt="man"
            class="customers-img"
          />
          <ul class="customers-photo__list">
            <li><p class="customers-photo__titel">Sumith Shah</p></li>
            <li><p class="customers-photo__text">Some Dude</p></li>
          </ul>
        </div>
      </li>
      <li class="customers-list__item">
        <svg width="17" height="16" class="customers__icon">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
        <p class="customers-list__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers-photo">
          <img
            src="/src/images/customers-say/woman-photo.png"
            alt="woman"
            class="customers-img"
          />
          <ul class="customers-photo__list">
            <li><p class="customers-photo__titel">Sumith Shah</p></li>
            <li><p class="customers-photo__text">Some Dude</p></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
