<section class="favorites container" id="favorites">
  <h2 class="favorites__title">Some of Our Favorites</h2>
  <p class="favorites__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <!-- Список картинок для мобільної версії з фіксованим розміром -->

  <ul class="favorites__list-mob list">
    <li class="favorites__item-mob">
      <a href="" class="favorites__link">
      <img
        class="favorites__img"
        src="/src/images/favorites/gamburger-photo-mobile-1x.png"
        width="224"
        alt="gamburger"
        srcset="
          /src/images/favorites/gamburger-photo-mobile-1x.png 1x,
          /src/images/favorites/gamburger-photo-mobile-2x.png 2x
        "
      /></a>
    </li>
    <li class="favorites__item-mob">
      <a href="" class="favorites__link">
      <img
        class="favorites__img"
        src="/src/images/favorites/Pasta-photo-mobile-1x.png"
        width="224"
        alt="Pasta"
        srcset="
          /src/images/favorites/Pasta-photo-mobile-1x.png 1x,
          /src/images/favorites/Pasta-photo-mobile-2x.png 2x
        "
      /></a>
    </li>
    <li class="favorites__item-mob">
      <a href="" class="favorites__link">
      <img
        class="favorites__img"
        src="/src/images/favorites/pizza-photo-mobile-1x.png"
        width="224"
        alt="pizza"
        srcset="
          /src/images/favorites/pizza-photo-mobile-1x.png 1x,
          /src/images/favorites/pizza-photo-mobile-2x.png 2x
        "
      /></a>
    </li>
  </ul>

<!-- Список картинок для таблетки та десктопу респонсивні  -->
  <ul class="favorites__list list">
    <li class="favorites__item">
      <a href="" class="favorites__link">
      <img class="favorites__img"
        src="/src/images/favorites/gamburger-photo-tablet-1x.png"
        alt="gamburger"
        srcset="
          /src/images/favorites/gamburger-photo-desktop-1x.png 315w,
          /src/images/favorites/gamburger-photo-tablet-1x.png  268w,
          /src/images/favorites/gamburger-photo-desktop-2x.png 630w,
          /src/images/favorites/gamburger-photo-tablet-2x.png  536w
        "
        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
      /></a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
      <img class="favorites__img"
        src="/src/images/favorites/Pasta-photo-tablet-1x.png"
        alt="Pasta"
        srcset="
          /src/images/favorites/Pasta-photo-desktop-1x.png 315w,
          /src/images/favorites/Pasta-photo-tablet-1x.png  268w,
          /src/images/favorites/Pasta-photo-desktop-2x.png 630w,
          /src/images/favorites/Pasta-photo-tablet-2x.png  536w
        "
        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
      /></a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
      <img class="favorites__img"
        src="/src/images/favorites/pizza-photo-tablet-1x.png"
        alt="pizza"
        srcset="
          /src/images/favorites/pizza-photo-desktop-1x.png 315w,
          /src/images/favorites/pizza-photo-tablet-1x.png  268w,
          /src/images/favorites/pizza-photo-desktop-2x.png 630w,
          /src/images/favorites/pizza-photo-tablet-2x.png  536w
        "
        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
      /></a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
      <img class="favorites__img"
        src="/src/images/favorites/chicken-photo-tablet-1x.png"
        alt="chicken"
        srcset="
          /src/images/favorites/chicken-photo-desktop-1x.png 315w,
          /src/images/favorites/chicken-photo-tablet-1x.png  268w,
          /src/images/favorites/chicken-photo-desktop-2x.png 630w,
          /src/images/favorites/chicken-photo-tablet-2x.png  536w
        "
        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
      /></a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
      <img class="favorites__img"
        src="/src/images/favorites/salat-photo-tablet-1x.png"
        alt="salat"
        srcset="
          /src/images/favorites/salat-photo-desktop-1x.png 315w,
          /src/images/favorites/salat-photo-tablet-1x.png  268w,
          /src/images/favorites/salat-photo-desktop-2x.png 630w,
          /src/images/favorites/salat-photo-tablet-2x.png  536w
        "
        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
      /></a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
      <img class="favorites__img"
        src="/src/images/favorites/borshch-photo-tablet-1x.png"
        alt="borshch"
        srcset="
          /src/images/favorites/borshch-photo-desktop-1x.png 315w,
          /src/images/favorites/borshch-photo-tablet-1x.png  268w,
          /src/images/favorites/borshch-photo-desktop-2x.png 630w,
          /src/images/favorites/borshch-photo-tablet-2x.png  536w
        "
        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
      /></a>
    </li>
  </ul>
</section>
