<header class="header">
    <div class="container header__container">
      <a href="./index.html" class="link logo header__logo"><svg width="66" height="52">
        <use href="./images/icons.svg#icon-logo">
        </use>
      </svg></a>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="28" height="28">
          <use href="./images/icons.svg#icon-menu-open"></use>
        </svg>
      </button>

      <div class="nav__wrapper">
        <nav>
          <ul class="list nav__list">
            <li class="nav__item">
              <a href="#home" class="link nav__link nav__link--current"
                >Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="link nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="#favorites" class="link nav__link">Favorites</a>
            </li>
            <li class="nav__item">
              <a href="#reviews" class="link nav__link">Reviews</a>
            </li>
            <li class="nav__item">
              <a href="#subscribe" class="link nav__link">Subscribe</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="header__button">Order now</button>
      </div>
    </div>
  </header>
  