<div class="container">
    <section class="hero">
        <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__post-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
            tristique.
            Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <div class="img-wrap">
            <!-- <img class="hero__img" src="./img/foto.jpg" alt="foto1"> -->
        </div>
        <button type="button">Order Now</button>
    </section>
</div>