<section class="offerings container">
  <p class="offerings__content-pic">me apple</p>

  <div class="offerings__box-desk">
    <h2 class="offerings__title">What’s Special About Our Offerings</h2>
    <p class="offerings__dscr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings__list">
      <li class="offerings__list-item">
        <p class="offerings__list-icon"></p>
        <h3 class="offerings__subtitle">Fastest Delivery</h3>
        <p class="offerings__sub-dscr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings__list-item">
        <p class="offerings__list-icon"></p>
        <h3 class="offerings__subtitle">Easy to order</h3>
        <p class="offerings__sub-dscr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <div class="offerings__btn-set">
      <button class="offerings__order-btn" data-modal-open>Order Now</button>
      <button class="offerings__dscr-btn">Read More ></button>
    </div>
  </div>
</section>
