%button {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 30px;
    color: var(--text-color-priority);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.header__button {
    @extend %button;
    color: var(--text-color-priority);
    padding: 6px 18px;
    background-color: var(--background-btn-site-hover);
    border-style: none;

    &:hover,
    :focus,
    :active {
        color: var(--text-color-priority);
        background-color: var(--hover-button-color);
    }
}

.hero__button {
    @extend %button;
    color: var(--text-color-priority);
    padding: 6px 18px;
    background-color: var(--background-btn-site-hover);
    border-style: none;

    &:hover,
    :focus,
    :active {
        color: var(--text-color-priority);
        background-color: var(--hover-button-color);
    }
}

.offerings__button {
    @extend %button;
    color: var(--text-color-priority);
    padding: 10px 22px;
    margin-right: 24px;
    background-color: var(--background-icon-btn-color);
    border: 2px solid var(--icon-active-border-color);
    border-radius: 30px;

    &:hover,
    :focus,
    :active {
        color: var(--text-color-priority);
        border-color: var(--buttom-border-hover-color);
    }

    @media screen and (min-width: 1280px) {
        margin-right: 0;
    }
}

.subscribe__button {
    @extend %button;
    color: var(--text-color-priority);
    padding: 11px 22px;
    background-color: var(--background-btn-site-hover);
    border-style: none;

    &:hover,
    :focus,
    :active {
        color: var(--text-color-priority);
        background-color: var(--hover-button-color);
    }
}

.footer__btn {
    @extend %button;
    color: var(--text-color-priority);
    padding: 11px 22px;
    background-color: var(--background-icon-btn-color);
    border: 0.85px solid var(--icon-active-border-color);

    &:hover,
    :focus,
    :active {
        color: var(--text-color-priority);
        background-color: var(--secondary-site-color);
    }
}

.modal__button {
    @extend %button;
    color: var(--text-color-priority);
    padding: 10px 38px;
    background-color: var(--background-icon-btn-color);
    border: 2px solid var(--icon-active-border-color);

    // &:hover,
    // :focus {
    //     background-color: var(--background-btn-site-hover);
    // }

    // &:active {
    //     background-color: var(--background-btn-site-hover);
    // }
}