.footer {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/footer/footer-background-mobile.png);
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  @media screen and (min-width: 768px) {
    background-size: contain;
    background-position: bottom;
    background-image: url(../images/footer/footer-background-tablet.png);
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/footer/footer-background-desktop.png);
    max-width: 1280px;
  }

  &__container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__logo {
    margin-right: 80px;
  }

  &__mobile {
    position: relative;
    display: flex;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
      align-items: center;
    }
  }

  &__nav-list {

    @media screen and (min-width: 1280px) {
      margin-right: 320px;
    }
  }


  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 12px;
  }

  &__input {
    height: 42px;
    border: none;
    border: 1px solid var(--secondary-site-color);
    border-radius: 30px;
    width: 279px;
    outline: none;
    padding-left: 15px;

    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4f4f4f;
    margin-right: 13px;
  }

  &__input-p {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: 100px;
      font-size: 12px;
      line-height: 1.16;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
    }
  }

  &__input-link {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: var(--icon-active-border-color);
  }

  &__desktop {
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      justify-content: start;
      margin-bottom: 0;
    }
  }

  &__list-link {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: var(--icon-active-border-color);

    @media screen and (min-width: 768px) {
      line-height: 1.16;
      font-size: 12px;
    }
  }

  &__list-item:not(:first-child) {
    @media screen and (min-width: 768px) {
      margin-left: 20px;
    }
  }

  &__copy {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      line-height: 1.16;
      font-size: 12px;
      margin-left: 0;
      margin-right: 0;
      display: block;
    }
  }

  &__policy {
    // position: relative;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 80px;
    }
  }
}

.footer__button {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 11px 22px;
  background-color: var(--background-icon-btn-color);
  border: 0.85px solid var(--icon-active-border-color);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  display: block;

  @media screen and (min-width: 440px) {
    margin-left: 0;
    display: inline;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  &:hover {
    background-color: var(--secondary-site-color);
  }
}

// .icon-wrapper {
//   max-width: 100%;
// }

.top {
  position: fixed;
  
  width: 50px;
  height: 50px;
  bottom: 3vh;
  right: 5vw;
  // bottom: 30px;
  // right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid var(--icon-active-border-color);
  border-radius: 50%;

  @media screen and (min-width:768px) {
    width: 60px;
    height: 60px;

  }



}

.mi {
  fill:currentColor;
  color: var(--text-color-priority);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    color: var(--icon-active-border-color);
    
  }

}