.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-backdrop);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 32px 20px;
    width: 100%;
    max-width: 480px;
    background: var(--secondary-site-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;

    @media screen and (min-width: 768px) {
        padding: 32px;
        width: 458px;
    }

    &__close-btn {
        position: absolute;
        z-index: 10;
        top: 16px;
        left: 100%;
        transform: translateX(calc(-100% - 16px));
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: none;
        background-color: var(--background-icon-btn-color);
        padding: 0;
        outline: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    }

    &__close-svg {
        width: 24px;
        height: 24px;
    }

    &__close-icon {
        width: 10px;
        height: 10px;
        fill: var(--text-color-priority);
        box-shadow: inset 2px 1px 4px rgba(61, 61, 61, 0.1);
    }
}

.order-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        display: block;
        margin: 0 auto 20px;
        font-size: 24px;
        line-height: 1.2;
    }

    &__label {
        display: block;
        // margin-top: 24px;
        margin-bottom: 2px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
    }

    &__input {
        display: block;
        padding: 14px 12px;
        margin-bottom: 24px;
        width: 100%;
        background: var(--background-icon-btn-color);
        border: 1px solid var(--icon-active-border-color);
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        font-size: 16px;
        line-height: 1.25;
        outline: none;

        &:invalid:placeholder-shown {
            border: 1px solid var(--icon-active-border-color);
            margin-bottom: 24px;

            &+.order-form__warning {
                display: none;
            }

            &~.order-form__btn {
                border: 2px solid var(--icon-active-border-color);
            }
        }

        &:invalid {
            border-color: var(--alert-input-color);
            margin-bottom: 0;

            &~.order-form__btn {
                border: 2px solid var(--alert-input-color);
            }
        }

        &:default+.order-form__warning {
            display: none;
        }

        &:valid {

            &+.order-form__warning {
                display: none;
            }

            &~.order-form__btn {
                background: var(--hover-button-color);
            }
        }

        &:invalid+.order-form__warning {
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            font-weight: 500;
            font-size: 11px;
            line-height: 1.4;
            color: var(--alert-input-color);

            &::before {
                content: '';
                display: inline-block;
                width: 11px;
                height: 11px;
                margin-left: 12px;
                margin-right: 4px;
                background-image: url(../images/icons.svg#icon-warning);
            }
        }

        @media screen and (min-width: 768px) {
            width: 394px;
        }
    }

    &__btn {
        margin: 32px auto 0;
        max-width: 106px;
        padding: 10px 38px;
        background-color: var(--background-icon-btn-color);
        border: 2px solid var(--icon-active-border-color);
        border-radius: 30px;
    }
}
