.offerings {

    background-color: var(--background-site-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    @media screen and (max-width:767px) {
        background-image: url(../images/background/offerings-bg-mobile-01x.png);
        padding-top: 41px;
        padding-bottom: 60px;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background/offerings-bg-mobile-02x.png);
        }

    }

    @media screen and (min-width:768px) {
        background-image: url(../images/background/offering-bg-tablet-1x.png);
        padding-top: 150px;
        padding-bottom: 100px;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background/offering-bg-tablet-2x.png);
        }
    }

    @media screen and (min-width:1280px) {
        background-image: url(../images/background/offering-bg-desktop-1x.png);
        padding-top: 177px;
        padding-bottom: 43px;
        display: flex;
        justify-content: space-between;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background/offering-bg-desktop-2x.png);
        }
    }
}


.offering__picture {
    margin: 0 auto 60px auto;
    width: 100%;

    @media screen and (min-width:768px) {
        width: 704px;
        margin: 0 auto 60px auto;
    }

    @media screen and (min-width:1280px) {
        width: 550px;
        margin: 0 90px 0 0;
    }
}


@media screen and (min-width:1280px) {
    .offerings__box-desk {
        margin-top: 83px;
    }
}

.offerings__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 28px;

    @media screen and (min-width:768px) {
        font-size: 42px;
        line-height: 1.18;
        margin-bottom: 20px;
        width: 526px;

    }
}

.offerings__dscr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 84px;
    padding-right: 2px;

    @media screen and (min-width:768px) {
        font-size: 16px;
        line-height: 1.17;
        width: 500px;
        margin-bottom: 96px;

    }

    @media screen and (min-width:1280px) {
        line-height: 1.5;
    }

}

@media screen and (min-width:768px) {
    .offerings__list {
        display: flex;
        align-items: center;
    }
}

.offerings__list-item {
    position: relative;
}

.offerings__list-item::before {
    position: absolute;
    top: -56px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: url(../images/offerings/offerings-rocket.svg);
    width: 48px;
    height: 48px;
    background-color: var(--background-icon-btn-color);
    border-radius: 50%;

}

.offerings__list-item:not(:first-child):before {
    content: url(../images/offerings/offerings-touch_app.svg);
}

.offerings__list-item:first-child {
    @media screen and (max-width: 768px) {
        margin-bottom: 84px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 116px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 67px;
    }
}

.offerings__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 16px;
}

.offerings__sub-dscr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 28px;

    @media screen and (min-width:320px) and (max-width:350px) {
        padding-right: 20px;
    }

    @media screen and (min-width:768px) {
        margin-bottom: 40px;
        width: 252px;
    }
}

<<<<<<< Updated upstream
.offerings__dscr-btn {
=======

.offerings__dscr-btn {
    border: none;
    background-color: var(--secondary-site-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    padding: 15px 0;

    @media screen and (min-width: 1280px) {
        display: none;
    }

    &-arrow {
        margin-left: 8px;
    }

>>>>>>> Stashed changes
    @media screen and (max-width:1279px) {
        display: block;
        border: none;
        background-color: var(--secondary-site-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        padding: 10px 0px;
    }

    @media screen and (min-width:1280px) {
        display: none;
    }
}

.offerings__dscr-btn-arrow {
    margin-left: 8px;

    @media screen and (min-width:1280px) {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .offerings__btn-set {
        display: flex;
        align-items: center;
<<<<<<< Updated upstream
    }
}
=======
    }}
>>>>>>> Stashed changes
