.subscribe {
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 82px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -35px;
    padding-top: 0;
  }

  &__container {
    position: relative;
    display: block;

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__image {
    position: absolute;

    @media screen and (max-width: 767px) {
      margin: 0 auto;
      width: 280px;
      top: -104px;
      right: 0;
      left: 0;
    }

    @media screen and (min-width: 768px) {
      margin: 0;
      width: 281px;
      top: -160px;
      right: 0;
    }
    @media screen and (min-width: 1280px) {
      position: relative;
      margin: 0;
      width: 608px;
      top: -46px;
      right: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: var(--text-color-priority);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 42px;
    }
  }

  &__subtitle {
    padding-bottom: 40px;
    line-height: calc(16 / 14);
    color: var(--text-color-priority);

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 24px;
    }
  }

  &__form {
    display: grid;

    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }

  &__wrap {
    position: relative;

    @media screen and (min-width: 768px) {
      position: relative;
      display: inline-block;
    }
  }

  &__input {
    border: 0.9px solid var(--secondary-site-color);
    border-radius: 30px;
    padding-left: 11px;
    margin-bottom: 20px;
    width: 100%;
    height: 42px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      line-height: 150%;
      font-weight: 400;
      font-size: 12px;
    }

    &:focus:valid {
      border-color: var(--icon-active-border-color);
      outline: none;
    }

    &:focus:invalid {
      border-color: var(--alert-input-color);
      outline: none;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      width: 394px;
    }
  }

  &__warning {
    color: var(--alert-input-color);
    font-size: 10px;
    line-height: 150%;
    position: absolute;
    left: 0;
    top: 46px;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .subscribe__input:invalid:focus + & {
      opacity: 1;
    }
  }

  &__button {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 11px 22px;
    width: 103px;
    background-color: var(--background-btn-site-hover);
    border-style: none;
    margin-left: auto;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-left: 22px;
    }

    &:hover {
      background-color: var(--hover-button-color);
    }
  }
}
